@use "../../assets/scss/variable" as *;

.banner {
  background-image: url("../../assets/background.jpg");
  width: 100%;
  height: auto;
  &-container {
    max-width: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    &__left {
      max-width: 40%;
      h2 {
        font-size: 45px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: #fff;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
      }

      .search {
        background: #fff;
        display: flex;
        position: relative;
        padding: 10px;
        border-radius: 8px;

        input {
          width: 100%;
          padding: 18px 20px;
          border: none;
          background-color: #fff;
          font-size: 16px;
        }
        button {
          padding: 18px 20px;
          background-color: #0d6efd;
          border: none;
          border-radius: 5px;
          color: #fff;
          font-size: 16px;
        }
      }

      .statistical {
        margin-top: 20px;
        &-list {
          display: flex;
          list-style: none;
          justify-content: space-around;
          &__item {
            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 30px;

            span {
              font-size: 24px;
              color: #fff;
              padding-bottom: 15px;
              position: relative;
              font-weight: 700;
            }
            span::after {
              content: "";
              display: block;
              width: 20px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              background: $primary-color;
              height: 3px;
              margin: auto;
            }
            p {
              padding-top: 15px;
              font-size: 15px;
            }
          }
        }
      }
    }
    &__right {
      width: 40%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
